.Price {
    padding-top: 3rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    border-left: lightgray 0.7px solid;
    background-color: rgba(100, 149, 237, 0.05);
}

.Price h1 {
    font-size: 3.3rem;
}


.Price .Result {
    font-size: 5rem;
}
