.Price {
    box-sizing: border-box;
    text-align: center;
    padding-top: 1.7rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: lightgray 0.5px solid;
    margin: 0.7rem 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.Price span {
    font-size: 3.3rem;
}


.Price .Result {
    font-size: 5rem;
}
