.PersonalPage {
    display: flex;
    flex-direction: row;
}

.PersonalPage .Camera {
    margin: 2vh 0 2vh 2vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex: 3 1;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

.PersonalPage .Camera .CameraTitle {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.6rem;
    margin: 3px 0;
    font-weight: 300;
}

.PersonalPage .ResultPhotos {
    display: flex;
    min-width: 500px;
    flex: 1 1;
    border: lightgray 0.5px solid;
    margin: 2vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.PersonalPage .ResultPhotosSuccess {
    display: flex;
    min-width: 500px;
    flex: 1 1;
    border: lightgray 0.5px solid;
    margin: 2vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 5px;
    background-color: rgba(81, 255, 0, 0.24);
}

.Button {
    width: 450px;
    height: 50px;
    font-size: 1.2rem;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.Success {
    color: #4bb71b;
}

.More {
    color: black;
}

.SuccessMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 850px;
    color: green;
    font-size: 2.5rem;
    font-weight: 200;
}

.Spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 850px;
}