.Price {
    padding-top: 5rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    border-left: lightgray 0.7px solid;
    background-color: rgba(191, 228, 249, 0.22);
}

.Price h1 {
    font-size: 3.3rem;
}


.Price .Result {
    font-size: 5rem;
}
