.Products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.Products .ResultWindow {
    box-sizing: border-box;
    width: 970px;
    height: 560px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    font-size: 1.2rem;
}

.Button {
    width: 450px;
    height: 50px;
    font-size: 1.2rem;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

